
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="/umafoto-ae">
            <span class="d-block d-lg-none"><i>Uma Foto Ae </i><i class="fas fa-camera-retro"></i></span>
            <span class="d-none d-lg-block">*<{ UMAFOTO.AE }>* <br>por<br><a class="d-none d-lg-block nav-bar" href="/"><i>Joel Schutz</i></a></span>
        </a>
        <span class="d-none d-lg-block"><i style="color:white;width:60%" class="img-fluid fas fa-camera-retro img-profile rounded-circle mx-auto mb-2"></i></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <p class='nav-bar'>Esse site foi desenvolvido com Python3 e Django. Atravéz das APIs públicas da <a class="nav-bar" style="text-decoration:underline" href="https://pixabay.com/">Pixabay</a> e <a class="nav-bar" style="text-decoration:underline" href="https://unsplash.com/">Unsplash</a>, consegue retornar uma imagem dentro das especificações em segundos.<br>Para conhecer mais sobre o meu trabalho e outrros projetos como esse, acesse o meu <a class="nav-bar" style="text-decoration:underline" href="/">Portifólio</a></p>
    </nav>
