{% extends 'pages/umafoto_ae_base.html' %}


{% block content %}
        <body>
        {% include 'pages/umafoto_ae_nav.html' %}
        <div class="container-lg">
            <div class="col-lg-auto">
                <h1>Sobre esse projeto</h1>
                
                <p>Esse site foi desenvolvido com Python3 e Django. Atravéz das APIs públicas da <a class="nav-bar" style="text-decoration:underline" href="https://pixabay.com/">Pixabay</a> e <a class="nav-bar" style="text-decoration:underline" href="https://unsplash.com/">Unsplash</a>, consegue retornar uma imagem dentro das especificações em segundos.<br>Para conhecer mais sobre o meu trabalho e outrros projetos como esse, acesse o meu <a class="nav-bar" style="text-decoration:underline" href="/">Portifólio</a></p>
            </div>
        </div>
        </body>
{% endblock %}
