
{% load wagtailcore_tags %}
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none"><i>Joel Schutz </i><i class="fas fa-leaf"></i></span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/assets/img/profile.jpg" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Sobre mim</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experiência</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Formação</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Habilidades</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interesses</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projetos</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Joel
                        <span class="text-primary">Schutz</span>
                    </h1>
                    <div class="subheading mb-5">
                        Pelotas, RS Brasil & (21) 92000-3565 &
                        <a href="mailto:name@email.com">joelsschutz@yahoo.com.br</a>
                    </div>
                    <p class="lead">{{ page.apresentacao }}</p>
                    <p class="lead mb-5" style="font-weight:100"><i>{{ page.citacao }}</i> - Relato de Fã</p>
                    <div class="social-icons ">
                        <a class="social-icon mb-1" href="https://www.linkedin.com/in/joelschutz/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon mb-1" href="https://github.com/JoelSchutz"><i class="fab fa-github"></i></a>
                        <a class="social-icon mb-1" href="https://twitter.com/joelschutz"><i class="fab fa-twitter"></i></a>
                        <!--a class="social-icon mb-1" href="https://medium.com/@joelschutz"><i class="fab fa-medium-m"></i></a-->
                        <a class="social-icon mb-1" href="https://www.kaggle.com/joelschutz"><i class="fab fa-kaggle"></i></a>
                        <a class="social-icon mb-1" href="https://t.me/joelschutz"><i class="fab fa-telegram-plane"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experiência</h2>
                    {% for block in page.experiencias %}
                        {% include_block block %}
                    {% endfor %}
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Formação</h2>
                    {% for block in page.formacoes %}
                        {% if block.block_type == "formal_courses" %}
                                {% include_block block %}
                        {% endif %}
                    {% endfor %}
                    <h3 class="mb-0">Cursos Livres</h3>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                    {% for block in page.formacoes %}
                        {% if block.block_type == "free_courses" %}
                                {% include_block block %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Habilidades</h2>
                    <div class="subheading mb-3">Ferramentas e linguagens de programação</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item" title="HTML5"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item" title="Bootstrap"><i class="fab fa-bootstrap"></i></li>
                        <li class="list-inline-item" title="Python 3"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item" title="Sistemas Linux"><i class="fab fa-linux"></i></li>
                        <li class="list-inline-item" title="Raspberry Pi"><i class="fab fa-raspberry-pi"></i></li>
                        <li class="list-inline-item" title="Makrdown"><i class="fab fa-markdown"></i></li>
                        <li class="list-inline-item" title="Pacote Adobe"><i class="fab fa-adobe"></i></li>
                        <li class="list-inline-item" title="Home Office"><i class="fas fa-laptop-house"></i></li>
                    </ul>
                    <div class="subheading mb-3">Diferenciais</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Inglês Avançado
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agilidade e vontade de aprender novas habilidades
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Trabalho em equipe e experiência em liderança
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Proatividade e busca de soluções de forma altônoma
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Conhecimento amplo(De Artes e Ciências Humanas há Programação e Estatística)
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interesses</h2>
                        {{ page.interesses|richtext }}
                </div>
            </section>
            <hr class="m-0" />
            <!-- Projects -->
            <section class="resume-section" id="projects">
                <div class="resume-section-content">
                    <h2 class="mb-5"> Projetos </h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-rocket text-success"></i></span>
                            UmaFoto.ae - Um site de pesquisa de imagens para quem não tem tempo. <a href='/umafoto-ae'>Link</a>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-rocket text-success"></i></span>
                            Que nome?! - Um site que mostra os jogadores com nomes mais incomuns que já passaram pelo seu time do coração.<a href='/que-nome'>Link</a>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check-circle text-success"></i></span>
                            Análise e modelo de aluguéis nas cidades de São Paulo, Rio de Janeiro e Porto Alegre.
                        </li>
                    </ul>
                </div>

            </section>
        </div>
    </body>
